<div class="{{classPrefix}}">
    <ul class="{{classPrefix}}-content" data-role="content">
        {{#each select}}
        <li data-role="item"
          class="{{../classPrefix}}-item {{#if disabled}}{{../../classPrefix}}-item-disabled{{/if}}"
          data-value="{{value}}"
          data-defaultSelected="{{output defaultSelected}}"
          data-selected="{{output selected}}"
          data-disabled="{{output disabled}}">{{{text}}}</li>
        {{/each}}
    </ul>
</div>
