<div class="{{classPrefix}}">
    <ul class="{{classPrefix}}-content" data-role="content">
        {{#each select}}
        <li data-role="item" class="{{../classPrefix}}-item {{#has disabled}}{{../../classPrefix}}-disabled{{/has}}" data-value="{{value}}" data-defaultSelected="{{defaultSelected}}" data-selected="{{selected}}" data-disabled="{{disabled}}">{{{text}}}</li>
        {{/each}}
    </ul>
</div>
